//@import 'colorPalette';

// color palettes
// Daybreak Blue / 拂晓蓝 - 包容、科技、普惠
$blue-1: #e6f7ff; //color(~`colorPalette("${blue-6}", 1)`);
$blue-2: #bae7ff; //color(~`colorPalette("${blue-6}", 2)`);
$blue-3: #91d5ff; //color(~`colorPalette("${blue-6}", 3)`);
$blue-4: #69c0ff; //color(~`colorPalette("${blue-6}", 4)`);
$blue-5: #40a9ff; //color(~`colorPalette("${blue-6}", 5)`);
$blue-6: #1890ff;
$blue-7: #096dd9; //color(~`colorPalette("${blue-6}", 7)`);
$blue-8: #0050b3; //color(~`colorPalette("${blue-6}", 8)`);
$blue-9: #003a8c; //color(~`colorPalette("${blue-6}", 9)`);
$blue-10: #002766; //color(~`colorPalette("${blue-6}", 10)`);

// Golden Purple / 酱紫 - 优雅、浪漫
$purple-1: #f9f0ff; //color(~`colorPalette("${purple-6}", 1)`);
$purple-2: #efdbff; //color(~`colorPalette("${purple-6}", 2)`);
$purple-3: #d3adf7; //color(~`colorPalette("${purple-6}", 3)`);
$purple-4: #b37feb; //color(~`colorPalette("${purple-6}", 4)`);
$purple-5: #9254de; //color(~`colorPalette("${purple-6}", 5)`);
$purple-6: #722ed1;
$purple-7: #531dab; //color(~`colorPalette("${purple-6}", 7)`);
$purple-8: #391085; //color(~`colorPalette("${purple-6}", 8)`);
$purple-9: #22075e; //color(~`colorPalette("${purple-6}", 9)`);
$purple-10: #120338; //color(~`colorPalette("${purple-6}", 10)`);

// Cyan / 明青 - 希望、坚强
$cyan-1: #e6fffb; //color(~`colorPalette("${cyan-6}", 1)`);
$cyan-2: #b5f5ec; //color(~`colorPalette("${cyan-6}", 2)`);
$cyan-3: #87e8de; //color(~`colorPalette("${cyan-6}", 3)`);
$cyan-4: #5cdbd3; //color(~`colorPalette("${cyan-6}", 4)`);
$cyan-5: #36cfc9; //color(~`colorPalette("${cyan-6}", 5)`);
$cyan-6: #13c2c2;
$cyan-7: #08979c; //color(~`colorPalette("${cyan-6}", 7)`);
$cyan-8: #006d75; //color(~`colorPalette("${cyan-6}", 8)`);
$cyan-9: #00474f; //color(~`colorPalette("${cyan-6}", 9)`);
$cyan-10: #002329; //color(~`colorPalette("${cyan-6}", 10)`);

// Polar Green / 极光绿 - 健康、创新
$green-1: #f6ffed; //color(~`colorPalette("${green-6}", 1)`);
$green-2: #d9f7be; //color(~`colorPalette("${green-6}", 2)`);
$green-3: #b7eb8f; //color(~`colorPalette("${green-6}", 3)`);
$green-4: #95de64; //color(~`colorPalette("${green-6}", 4)`);
$green-5: #73d13d; //color(~`colorPalette("${green-6}", 5)`);
$green-6: #52c41a;
$green-7: #389e0d; //color(~`colorPalette("${green-6}", 7)`);
$green-8: #237804; //color(~`colorPalette("${green-6}", 8)`);
$green-9: #135200; //color(~`colorPalette("${green-6}", 9)`);
$green-10: #092b00; //color(~`colorPalette("${green-6}", 10)`);

// Magenta / 法式洋红- 明快、感性
$magenta-1: #fff0f6; //color(~`colorPalette("${magenta-6}", 1)`);
$magenta-2: #ffd6e7; //color(~`colorPalette("${magenta-6}", 2)`);
$magenta-3: #ffadd2; //color(~`colorPalette("${magenta-6}", 3)`);
$magenta-4: #ff85c0; //color(~`colorPalette("${magenta-6}", 4)`);
$magenta-5: #f759ab; //color(~`colorPalette("${magenta-6}", 5)`);
$magenta-6: #eb2f96;
$magenta-7: #c41d7f; //color(~`colorPalette("${magenta-6}", 7)`);
$magenta-8: #9e1068; //color(~`colorPalette("${magenta-6}", 8)`);
$magenta-9: #780650; //color(~`colorPalette("${magenta-6}", 9)`);
$magenta-10: #520339; //color(~`colorPalette("${magenta-6}", 10)`);

// alias of magenta
$pink-1: #fff0f6; //color(~`colorPalette("${pink-6}", 1)`);
$pink-2: #ffd6e7; //color(~`colorPalette("${pink-6}", 2)`);
$pink-3: #ffadd2; //color(~`colorPalette("${pink-6}", 3)`);
$pink-4: #ff85c0; //color(~`colorPalette("${pink-6}", 4)`);
$pink-5: #f759ab; //color(~`colorPalette("${pink-6}", 5)`);
$pink-6: #eb2f96;
$pink-7: #c41d7f; //color(~`colorPalette("${pink-6}", 7)`);
$pink-8: #9e1068; //color(~`colorPalette("${pink-6}", 8)`);
$pink-9: #780650; //color(~`colorPalette("${pink-6}", 9)`);
$pink-10: #520339; //color(~`colorPalette("${pink-6}", 10)`);

// Dust Red / 薄暮 - 斗志、奔放
$red-1: #fff1f0; //color(~`colorPalette("${red-6}", 1)`);
$red-2: #ffccc7; //color(~`colorPalette("${red-6}", 2)`);
$red-3: #ffa39e; //color(~`colorPalette("${red-6}", 3)`);
$red-4: #ff7875; //color(~`colorPalette("${red-6}", 4)`);
$red-5: #ff4d4f; //color(~`colorPalette("${red-6}", 5)`);
$red-6: #f5222d;
$red-7: #cf1322; //color(~`colorPalette("${red-6}", 7)`);
$red-8: #a8071a; //color(~`colorPalette("${red-6}", 8)`);
$red-9: #820014; //color(~`colorPalette("${red-6}", 9)`);
$red-10: #5c0011; //color(~`colorPalette("${red-6}", 10)`);

// Sunset Orange / 日暮 - 温暖、欢快
$orange-1: #fff7e6; //color(~`colorPalette("${orange-6}", 1)`);
$orange-2: #ffe7ba; //color(~`colorPalette("${orange-6}", 2)`);
$orange-3: #ffd591; //color(~`colorPalette("${orange-6}", 3)`);
$orange-4: #ffc069; //color(~`colorPalette("${orange-6}", 4)`);
$orange-5: #ffa940; //color(~`colorPalette("${orange-6}", 5)`);
$orange-6: #fa8c16;
$orange-7: #d46b08; //color(~`colorPalette("${orange-6}", 7)`);
$orange-8: #ad4e00; //color(~`colorPalette("${orange-6}", 8)`);
$orange-9: #873800; //color(~`colorPalette("${orange-6}", 9)`);
$orange-10: #612500; //color(~`colorPalette("${orange-6}", 10)`);

// Sunrise Yellow / 日出 - 出生、阳光
$yellow-1: #feffe6; //color(~`colorPalette("${yellow-6}", 1)`);
$yellow-2: #ffffb8; //color(~`colorPalette("${yellow-6}", 2)`);
$yellow-3: #fffb8f; //color(~`colorPalette("${yellow-6}", 3)`);
$yellow-4: #fff566; //color(~`colorPalette("${yellow-6}", 4)`);
$yellow-5: #ffec3d; //color(~`colorPalette("${yellow-6}", 5)`);
$yellow-6: #fadb14;
$yellow-7: #d4b106; //color(~`colorPalette("${yellow-6}", 7)`);
$yellow-8: #ad8b00; //color(~`colorPalette("${yellow-6}", 8)`);
$yellow-9: #876800; //color(~`colorPalette("${yellow-6}", 9)`);
$yellow-10: #614700; //color(~`colorPalette("${yellow-6}", 10)`);

// Volcano / 火山 - 醒目、澎湃
$volcano-1: #fff2e8; //color(~`colorPalette("${volcano-6}", 1)`);
$volcano-2: #ffd8bf; //color(~`colorPalette("${volcano-6}", 2)`);
$volcano-3: #ffbb96; //color(~`colorPalette("${volcano-6}", 3)`);
$volcano-4: #ff9c6e; //color(~`colorPalette("${volcano-6}", 4)`);
$volcano-5: #ff7a45; //color(~`colorPalette("${volcano-6}", 5)`);
$volcano-6: #fa541c;
$volcano-7: #d4380d; //color(~`colorPalette("${volcano-6}", 7)`);
$volcano-8: #ad2102; //color(~`colorPalette("${volcano-6}", 8)`);
$volcano-9: #871400; //color(~`colorPalette("${volcano-6}", 9)`);
$volcano-10: #610b00; //color(~`colorPalette("${volcano-6}", 10)`);

// Geek Blue / 极客蓝 - 探索、钻研
$geekblue-1: #f0f5ff; //color(~`colorPalette("${geekblue-6}", 1)`);
$geekblue-2: #d6e4ff; //color(~`colorPalette("${geekblue-6}", 2)`);
$geekblue-3: #adc6ff; //color(~`colorPalette("${geekblue-6}", 3)`);
$geekblue-4: #85a5ff; //color(~`colorPalette("${geekblue-6}", 4)`);
$geekblue-5: #597ef7; //color(~`colorPalette("${geekblue-6}", 5)`);
$geekblue-6: #2f54eb;
$geekblue-7: #1d39c4; //color(~`colorPalette("${geekblue-6}", 7)`);
$geekblue-8: #10239e; //color(~`colorPalette("${geekblue-6}", 8)`);
$geekblue-9: #061178; //color(~`colorPalette("${geekblue-6}", 9)`);
$geekblue-10: #030852; //color(~`colorPalette("${geekblue-6}", 10)`);

// Lime / 青柠 - 自然、生机
$lime-1: #fcffe6; //color(~`colorPalette("${lime-6}", 1)`);
$lime-2: #f4ffb8; //color(~`colorPalette("${lime-6}", 2)`);
$lime-3: #eaff8f; //color(~`colorPalette("${lime-6}", 3)`);
$lime-4: #d3f261; //color(~`colorPalette("${lime-6}", 4)`);
$lime-5: #bae637; //color(~`colorPalette("${lime-6}", 5)`);
$lime-6: #a0d911;
$lime-7: #7cb305; //color(~`colorPalette("${lime-6}", 7)`);
$lime-8: #5b8c00; //color(~`colorPalette("${lime-6}", 8)`);
$lime-9: #3f6600; //color(~`colorPalette("${lime-6}", 9)`);
$lime-10: #254000; //color(~`colorPalette("${lime-6}", 10)`);

// Calendula Gold / 金盏花 - 活力、积极
$gold-1: #fffbe6; //color(~`colorPalette("${gold-6}", 1)`);
$gold-2: #fff1b8; //color(~`colorPalette("${gold-6}", 2)`);
$gold-3: #ffe58f; //color(~`colorPalette("${gold-6}", 3)`);
$gold-4: #ffd666; //color(~`colorPalette("${gold-6}", 4)`);
$gold-5: #ffc53d; //color(~`colorPalette("${gold-6}", 5)`);
$gold-6: #faad14;
$gold-7: #d48806; //color(~`colorPalette("${gold-6}", 7)`);
$gold-8: #ad6800; //color(~`colorPalette("${gold-6}", 8)`);
$gold-9: #874d00; //color(~`colorPalette("${gold-6}", 9)`);
$gold-10: #613400; //color(~`colorPalette("${gold-6}", 10)`);
